<table class="container ads">
  <tr>
    <td>

      <table class="row">
        <tr>
          <td class="last">

            <table class="twelve columns">
              <tr>

                <td>
                  <img class="center" src="http://placehold.it/610x120&text=610x120">
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
