<table class="row ads">
	<tr>
		<td class="center">
			<table class="container">
				<tr>
					<td>

						<table class="row">
							<tr>
								<td class="wrapper">

									<table class="six columns">
										<tr>
											<td>

												<img class="center" src="http://placehold.it/300x250&text=300x250">
												<figcaption><span>I'm a figcaption</span> I tell a bit about the image</figcaption>

											</td>
											<td class="expander"></td>
										</tr>
									</table>

								</td>
								<td class="wrapper last">

									<table class="six columns">
										<tr>
											<td>

												<img class="center iab" src="http://placehold.it/300x250&text=300x250">
												<figcaption><span class="iab">Advertisement</span></figcaption>

											</td>
											<td class="expander"></td>
										</tr>
									</table>

								</td>
							</tr>
						</table>

						<table class="row">
							<tr>
								<td class="wrapper">

									<table class="six columns">
										<tr>
											<td>

												<img class="center" src="http://placehold.it/300x250&text=300x250">
												<figcaption><span>I'm a figcaption</span> I tell a bit about the image</figcaption>

											</td>
											<td class="expander"></td>
										</tr>
									</table>

								</td>
								<td class="wrapper last">

									<table class="six columns">
										<tr>
											<td>

												<img class="center" src="http://placehold.it/300x250&text=300x250">
												<figcaption><span>I'm a figcaption</span> I tell a bit about the image</figcaption>

											</td>
											<td class="expander"></td>
										</tr>
									</table>

								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
