<table class="row ads">
	<tr>
		<td class="center">
			<table class="container">
				<tr>
					<td>
						<table class="row">
							<tr>
								<td class="wrapper">
									<table class="six columns">
										<tr>
											<td class="article-image">
												<img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/body-images/crabtree-and-evelyn-fpo.jpg">
											</td>
										</tr>
									</table>
								</td>
								<td class="wrapper last">
									<table class="six columns">
										<tr>
											<td>
                        <b>Lorem ipsum dolor sit amet.</b>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia molestiae voluptates similique recusandae esse, officiis veritatis hic, eius obcaecati dicta enim ullam maiores vitae deleniti aut molestias delectus culpa in beatae distinctio laborum, dolores debitis.
                        <a class="read-more"href="">More &rsaquo;</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
            <hr>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
