<table class="container footer">
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td class="center">
            <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/mall-logos/<%= @mall.nick_name %>-icon-bar.png">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td width="27%"></td>
          <td class="center">
            <a href="https://www.facebook.com/<%= @facebook_handle %>">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/social-icons/facebook.png">
            </a>
          </td>
          <td class="center">
            <a href="https://twitter.com/<%= @twitter_handle %>">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/social-icons/twitter.png">
            </a>
          </td>
          <td width="27%"></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <table width="100%">
        <tr>
          <td>
            <center>
              <span><a href="tel:<%= phone_with_parens_and_dash(@mall.phone) %>" style="text-decoration: none;"><%= phone_with_parens_and_dash(@mall.phone) %></a></span>
              <br>
              <span class="center"><%= @mall.address %>, <%= @mall.city %>, <%= @mall.state %>, <%= @mall.zip %></span>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
