<table class="container header">
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td>
            <a href="http://{{ mall.url }}.com/register/">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/mall-logos/<%= @mall.nick_name %>-logo.png">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
