<table class="container">
	<tr>
		<td>

			<table class="row hero">
				<tr>
					<td class="wrapper last">

						<table class="twelve columns">
							<tr>
								<td style="padding: 0;">
									<img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/FCE/body-images/serious-sales-fpo.jpg">
								</td>
								<td class="expander"></td>
							</tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="hero-article">
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aspernatur eveniet quis laboriosam molestias harum.</p>
            <a href="">MORE ></a>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <hr>

    </td>
  </tr>

</table>
