<table class="container">
	<tr>
		<td>

			<table class="row hero">
				<tr>
					<td class="wrapper last">

						<table class="twelve columns">
							<tr>
								<td>
									<img class="center" src="http://placehold.it/620x400&text=620x400">
								</td>
								<td class="expander"></td>
							</tr>

							<tr>
								<td>
									<h1>Heading 1</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aspernatur eveniet quis laboriosam molestias harum.</p>

									<table>
										<tbody>
											<tr>
												<td class="wrapper last">
													<table class="three columns">
														<tbody>
															<tr>
																<td>
																	<table class="button">
																		<tbody>
																			<tr>
																				<td>
																					<a href="#">Click Me &raquo;</a>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td class="expander"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>

								</td>
								<td class="expander"></td>
							</tr>
						</table>

					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
