<table class="row hours">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
							<span class="center apple-links-white"><strong>Hours for February 25, 2015: {{mall.hours}}</span>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>
