<table class="legend">
	<tr>
		<td class="center">
			<table class="container">
				<tr>
					<td>
						<table>
							<tr>
								<td>
									<a href="">
										<img src="directory.png" alt="">
									</a>
								</td>
								<td>
									<a href="">
										<img src="events.png" alt="">
									</a>
								</td>
								<td>
									<a href="">
										<img src="directions.png" alt="">
									</a>
								</td>
								<td>
									<a href="">
										<img src="sales.png" alt="">
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="">
										Directory
									</a>
								</td>
								<td>
									<a href="">
										Events
									</a>
								</td>
								<td>
									<a href="">
										Directons
									</a>
								</td>
								<td>
									<a href="">
										Sales
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
