<table class="container flex-nav">
  <tr>
    <td class="nav">
      <table width="100%">
        <tr>
          <td align="center">
            <a href="http://www.victoriagardensie.com/directory/">DIRECTORY</a>
          </td>
          <td align="center" >
            <a href="http://www.victoriagardensie.com/sales/">SALES</a>
          </td>
          <td align="center">
            <a href="http://www.victoriagardensie.com/dine/">DINING</a>
          </td>
          <td align="center">
            <a href="http://www.victoriagardensie.com/events/">EVENTS</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

