<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Big Savings this Weekend!</title>
  <meta name="format-detection" content="telephone=no">
  <link href='http://fonts.googleapis.com/css?family=' rel='stylesheet' type='text/css'>
  <!-- build:css css/tidy.css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- /build -->
</head>
<body class="cypress">

  <span class="toast">
  This is a toast - it will appear in the preview pane of the email client, use wisely!
</span>


  <table class="body">
   <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="row pre-header">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td>

					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>


        <table class="container header">
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td>
            <a href="http://bassettplace.com/register/">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/mall-logos/<%= @mall.nick_name %>-logo.png">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


        <table class="body-container">
          <tr>
            <td>
              

            </td>
          </tr>
        </table>

        <table class="container footer">
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td class="center">
            <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/mall-logos/<%= @mall.nick_name %>-icon-bar.png">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%">
        <tr>
          <td width="27%"></td>
          <td class="center">
            <a href="https://www.facebook.com/<%= @facebook_handle %>">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/social-icons/facebook.png">
            </a>
          </td>
          <td class="center">
            <a href="https://twitter.com/<%= @twitter_handle %>">
              <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/social-icons/twitter.png">
            </a>
          </td>
          <td width="27%"></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <table width="100%">
        <tr>
          <td>
            <center>
              <span><a href="tel:<%= phone_with_parens_and_dash(@mall.phone) %>" style="text-decoration: none;"><%= phone_with_parens_and_dash(@mall.phone) %></a></span>
              <br>
              <span class="center"><%= @mall.address %>, <%= @mall.city %>, <%= @mall.state %>, <%= @mall.zip %></span>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


        <table class="row post-footer">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td>
            <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/placewise-logo.png">
          </td>
          <td>
            <img class="center" src="https://s3.amazonaws.com/placewiseemailcontent/Cypress/cypress-logo.png">
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>



      </center>
    </td>
  </tr>
</table>

</body>
</html>
